{% extends 'base.html' %}
{% load static %}
{% block title %}doctors{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/doctors.css' %}">{% endblock %}

{% block content %}

<h1 class="text-center">Our Doctors</h1>
<div class="container text-center bg-light my-3"  >
  {% for d in doctors %}
<div class="card text-center mx-3 my-3 " style="width: 18rem; display: inline-block;">
  <img src="{{d.doc_image.url}}" class="card-img-top ">
  <div class="card-body">
    <h5 class="card-title">Dr. {{d.doc_name}}</h5>
    <p class="card-text">{{d.doc_spec}}</p>
    <h6 >{{d.dep_name}} Department</h6>
  </div>
</div>
{% endfor %}
</div>



  
{% endblock %}